# Credentials
CREDENTIALS

# Compiled files
*.pyc
*.pyo

# editor files
*~

# eclipse cruft
.settings
.cproject
.project

# scons cruft
.sconsign
.sconsign.dblite

# Be sure to include gitignore eventhough it is a dot file
!.gitignore

