#!/bin/bash

# for local scripts that access S3, spawn EC2 instances, etc.
export aws_access_key_id=
export aws_secret_key=
export aws_keypair=
export cluster_security_group=

# for remote scripts that spin up an EC2 compute node
export deploy_bucket=
export code_file=
export deploy_file=
export data_bucket=

