#!/bin/bash

# for local scripts that access S3, spawn EC2 instances, etc.
export aws_access_key_id=
export aws_secret_key=
export aws_keypair=
export cluster_security_group=
export initial_listen_port=

export ami=ami-ccf405a5		# Alestic Ubuntu 10.10 Maverick 32-bit
export login_user=ubuntu

# for remote scripts that spin up an EC2 compute node
export deploy_bucket=
export code_file=
export deploy_file=
export data_bucket=

export remote_pkg_dir=pkg

